.heading 
{
    font-size: 23px;
    margin: 0;
    box-shadow: 5px 5px 5px grey;
    color: white;
    width: 100%;
}
.heading_div
{
    border-radius: 20px;
    background-color: white;
    color: black;
    box-shadow: 5px 5px 5px grey;
    padding: 10px;
    float: none;
}
.heading_div2
{
    font-size:18px;
}
.para_div
{
    font-size: 23px;
    box-shadow: 5px 5px 5px grey;
}
.copy_right_footer
{
    width: 100%;
    color: white;
    background-color: grey;
    line-height: 3;
    bottom: 0;
    position: fixed;
    text-align: center;
}
canvas
{
    border-radius: 10px;
    border-color: rgb(9, 226, 197);
    border-width: 10px;
    border-style: solid;   
    margin-top: 150px;
    box-shadow: 5px 5px 5px #353535;
}